@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

:root {
    --design-orange: #fd534a;
    --design-cream: #f9f3e7;
    --design-yellow: #febf32;
    --design-purple: #82175d;
    --design-blue: #19133e;

    --font-family: 'Onest';

    --sections-padding: 50px;
    --card-padding: 30px;

    --border-end-of-section: solid 3px var(--design-orange);
}

h2 {
    font-size: 40px;
    color: var(--design-orange);
    font-family: var(--font-family);
}

body{
    margin: 0;
    background-color: var(--design-cream);
}

 /* Header CSS */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--design-orange);
    position: fixed;
    z-index: 1;
}

.header img {
    max-width: 1137px;
    max-height: 141px;
}

.header .mobile-image {
    display: none;
}

.nav {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-family: var(--font-family);
    font-weight: bold;
    color: var(--design-blue);
}

.nav a{
    color: inherit;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
}

.nav .hamburger-menu {
    display: none;
}
/* End of Header CSS */

/* TopSection CSS */

.top-section{
    background-color: var(--design-orange);
    display: flex;
    font-family: var(--font-family);
    color: var(--design-cream);
    align-items: center;
    justify-content: space-between;
    padding: var(--sections-padding);
    padding-top: 150px;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.2);
}

.top-section h1 {
    font-size: clamp(30px, 6vw, 50px);
}
.top-section p {
    font-size: clamp(20px, 3vw, 30px);
}

.top-section .project-button {
    background-color: var(--design-blue);
    color: var(--design-cream);
    font-family: var(--font-family);
    font-size: clamp(15px, 3vw, 25px);
}

.top-section img{
    width: auto;
    height: clamp(400px, 40vw, 600px);
}

/* End of TopSection CSS */

/* Services and ServiceCard CSS*/
.services-section{
    padding: var(--sections-padding);
}
.service-cards {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding-bottom: 50px;
    border-bottom: var(--border-end-of-section);
    flex-wrap: wrap;
    overflow: hidden;
}

.service-card {
    padding: var(--card-padding);
    background-color: #FFFCF5;
    font-family: var(--font-family);
    color: var(--design-blue);
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    min-width: 200px;
    max-width: 400px;
}
/* End of Services and ServiceCard CSS */

/* AboutUs CSS */
.about-us-section {
    font-family: var(--font-family);
    padding: var(--sections-padding);
    color: var(--design-blue);
    display: flex;
    border-bottom: var(--border-end-of-section);
    margin-bottom: 50px;
}

.team-cards {
    display: flex;

}

.member-card h3{
    margin: 0px;
}

.member-card img {
    width: clamp(200px, 30vw, 400px);
    height: auto;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
}

.member-image-background {
    width: clamp(200px, 30vw, 400px);
    height: auto - 5px;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
    background-color: var(--design-blue);
}
/* End of AboutUs CSS */

/* ContactUs CSS */
.contact-us-section {
    padding: var(--sections-padding);
}

.contact-us-content {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.contact-us-content-left {
    background-color: var(--design-yellow);
    font-family: var(--font-family);
    color: var(--design-blue);
    padding: 20px;
    width: 50%;
}

.contact-infos{
    border-bottom: solid 1px var(--design-blue);
}

.contact-info{
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-us-content-right{
    background-color: white;
    padding: 20px;
    width: 50%;
    font-family: var(--font-family);
    color: var(--design-blue);
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
    font-family: var(--font-family);
}

.client-personal-info{
    display: flex;
}

.client-personal-info input{

}

textarea {
    resize: none;
}
  
button {
    background-color: var(--design-blue);
    color: var(--design-cream);
    font-family: var(--font-family);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.error {
    font-family: var(--font-family);
    color: red;
    margin-top: 10px;
    font-size: 0.8em;
}
/* End of ContactUs CSS

/* Footer CSS */
.footer {
    background-color: var(--design-orange);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}
.icons {
    color: var(--design-blue);
    text-decoration: none;
}
.footer p {
    margin: 0px;
}

/* End of Footer CSS */
@media only screen and (max-width: 1600px) {

     /* Header CSS */
    .header .monitor-image {
        display: none;
    }
    .header .mobile-image {
        display: inline-flex;
    }
    /*End of header CSS */

    /* TopSection CSS */

    /*End of TopSection CSS */

    /* Services and ServiceCard CSS */

    /* End of Services and ServiceCard CSS */

    /* AboutUs CSS */

    /* End of AboutUs CSS */

    /* Footer CSS */

    /* End of Footer CSS */
}

@media only screen and (max-width: 1000px) {
     /* Header CSS*/
    .nav a {
        display: none;
    }
    .nav .hamburger-menu {
        display: flex;
        font-size: 64px;
        color: var(--design-cream);
    }
    /* End of header CSS */

    /* TopSection CSS */

    /* End of TopSection CSS */

    /* Services and ServiceCard CSS*/

    /* End of Services and ServiceCard CSS */

    /* AboutUs CSS */

    /* End of AboutUs CSS */
    
    /* Footer CSS */

    /* End of Footer CSS */
}

