@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

:root {
    --design-orange: #fd534a;
    --design-cream: #f9f3e7;
    --design-yellow: #febf32;
    --design-purple: #82175d;
    --design-blue: #19133e;

    --font-family: 'Onest';
}

body{
    margin: 0;
    background-color: var(--design-cream);
}

 /* Header CSS */
.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--design-orange);
}

.header img {
    width: 100%;
    max-width: 1137px;
    max-height: 141px;
}

.header .mobile-image {
    display: none;
}

.nav {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-family: var(--font-family);
    font-weight: bold;
    color: var(--design-blue);
}

.nav a{
    color: inherit;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
}

.nav .hamburger-menu {
    display: none;
}
/* End of Header CSS */

/* TopSection CSS */

.top-section{
    background-color: var(--design-orange);
    display: flex;
    font-family: var(--font-family);
    color: var(--design-cream);
    align-items: center;
    justify-content: space-between;
}

.top-section .project-button {
    background-color: var(--design-blue);
    color: var(--design-cream);
}

/* End of TopSection CSS */

/* Services and ServiceCard CSS*/
.services-section{
    padding: 50px;
}
.service-cards {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.service-cards .service-card {

    background-color: #FFFCF5;
}
/* End of Services and ServiceCard CSS */

/* AboutUs CSS */

/* End of AboutUs CSS */

/* Footer CSS */
.footer {
    background-color: var(--design-orange);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px
}
.icons {
    color: var(--design-blue);
    text-decoration: none;
}
.footer p {
    margin: 0px;
}

/* End of Footer CSS */
@media only screen and (max-width: 1600px) {

     /* Header CSS */
    .header .monitor-image {
        display: none;
    }
    .header .mobile-image {
        display: inline-flex;
    }
    /*End of header CSS */

    /* TopSection CSS */

    /*End of TopSection CSS */

    /* Services and ServiceCard CSS */

    /* End of Services and ServiceCard CSS */

    /* AboutUs CSS */

    /* End of AboutUs CSS */

    /* Footer CSS */

    /* End of Footer CSS */
}

@media only screen and (max-width: 1000px) {
     /* Header CSS*/
    .nav a {
        display: none;
    }
    .nav .hamburger-menu {
        display: flex;
        font-size: 64px;
        color: var(--design-cream);
    }
    /* End of header CSS */

    /* TopSection CSS */

    /* End of TopSection CSS */

    /* Services and ServiceCard CSS*/

    /* End of Services and ServiceCard CSS */

    /* AboutUs CSS */

    /* End of AboutUs CSS */
    
    /* Footer CSS */

    /* End of Footer CSS */
}

